# configs
*.ini

# logs
*.log

# python cache
/tests/__pycache__/
/tests/wireguard/__pycache__
/wireguard/__pycache__/
/db/__pycache__/
/webapp/__pycache__
__pycache__

# idea
.idea/

# monitoring
*.db

# SSL
*.crt
*.key