<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/telegram-web-app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/start.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/qrcode.css') }}">
    <title>Main</title>
</head>
<body>
    <div class="container">
        <h4>QR code</h4>
        <div class="img">
            <img id="qrcode" src=""/>
        </div>
        
    </div>
</body>
    <script src="{{ url_for('static', filename='js/qrcode.js') }}"></script>
</html>