<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;700&family=Raleway&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/telegram-web-app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/start.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/start.css') }}">
    <title>Start</title>
</head>
<body>
    <div class="container">
        <h1>Добро пожаловать в <br>WolfVPN</h1>
        <div class="logo">
            <svg width="65" height="79" viewBox="0 0 65 79" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 0.5L23 20.5H42L59 0.5V39.5L65 51.5L50 62L60 52L55 42L35 56.5V75.5H38L45 67L40 79H33.5L33 52.5L54 38L55.5 33V11L46 21.5L55.5 33L54 38L42 24H23L12 37.5L10 33L19 21.5L10 11V33L12 37.5L33 52.5L33.5 79H26.5L21.5 67.5L28.5 75.5H31.5V56.5L10 41.5L5.5 52L15 62L0.5 51.5L6 39.5V0.5Z" fill="white"/>
            </svg>   
        </div>
        <div class="description">
            <p>
                Всем привет! Вы попали в первое VPN приложение в формате web app  <br>🚀🚀🚀<br><br>
Тут вы сможете с легкостью настроить ваш VPN, который будет быстро работать на Android, IOS, Windows и даже на Linux. Особонность нашего сервиса в том, что вам не нужно переплачивать за соединения, которые вам не нужны - выбирайте сами, за что вам платить, а за что нет 😉
            </p>
        </div>
        <div class="avaliable-country-list">
            <h1>Список доступных стран</h1>
            <ul>
                <li>
                    <img src="{{ url_for('static', filename='images/1.png') }}"/>
                    <p>Россия</p>
                </li>
                <li>
                    <img src="{{ url_for('static', filename='images/2.png') }}"/>
                    <p>Польша</p>
                </li>
            </ul>
        </div>
        <div class="cost">
            <h1>Цена</h1>
            <ul>
                <li class="price">
                    <p class="price-text">4 <span>W</span> / день или 120 <span>W</span> / мес за одно подключение</p>
                </li>
                <li class="price">
                    <p class="price-text">1 <span>W</span> = 1 ₽</p>
                </li>
                <li class="price">
                    <p class="price-text"><span>W</span> это внутренняя валюта, которую вы можете приобрести за <span>USTD</span>, <span>TON</span> или <span>BTC</span></p>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>