.account_info{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.account_info h3{
  text-align: left;
  width: 100%;
}

.account {
  width: 95%;
  border-radius: 20px;
  background-color: #212332;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user_id {
  width: 90%;
  font-size: 1em;
  font-family: 'RobotoMono-Regular';
  font-weight: 400;
  text-align: left;
  margin-bottom: 0px;
}

.user_id span {
  color: #828594;
}

.user_amount {
  width: 90%;
  text-align: left;
  font-size: 2em;
  font-family: 'RobotoMono-Bold';
  font-weight: 700;
  color: white;
  margin: 10px 0;
}

.user_amount span{
  font-size: 0.7em;
  color: #828594;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form h3{
  text-align: left;
  width: 100%;
}

.input__field{
  width: 90%;
  background: #212332;
  border: none;
  border-radius: 10px;
  color: var(--tg-theme-text-color);
  padding: 10px;
  font-size: 1em;
}

.input__field:focus{
  outline-color: var(--tg-theme-button-color);
}

.form p{
  font-size: 0.7em;
  color: #828594;
  text-align: left;
  width: 90%;
}

.bill_link{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.form p span{
	color: #7D94D8;
	font-family: 'Raleway';
}