@font-face {
	font-family: "RobotoMono-Bold";
	src: url('../fonts/RobotoMono-Bold.ttf') format('truetype');
}
@font-face {
	font-family: "RobotoMono-Regular";
	src: url('../fonts/RobotoMono-Regular.ttf') format('truetype');
}
@font-face {
	font-family: "RobotoMono-Light";
	src: url('../fonts/RobotoMono-Light.ttf') format('truetype');
}
@font-face {
	font-family: "Raleway";
	src: url('../fonts/Raleway-Regular.ttf') format('truetype');
  }

body {
	margin: 0;
	padding: 10px;
	font-size: 18px;
	color: #f5f5f5;
	background: #282e33;
}

.container {
	margin: 0 auto;
    max-width: 600px;
}

h1{
	font-size: 1.5em;
	font-family: 'RobotoMono-Bold';
	font-weight: 700;
	text-align: center;
}

.logo{
	text-align: center;
}

.description p{
	font-size: 1em;
	font-family: 'RobotoMono-Regular';
	font-weight: 400;
	text-align: center;
}

.avaliable-country-list{
	margin-top: 60px;
}

ul{
	list-style-type: none;
	margin: 0 10px 0 10px;
	padding: 0;
}

li{
	background-color: #212332;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin: 10px 0;
}

li img{
	margin: 0 20px;
}

li p{
	font-size: 1.2em;
	font-family: 'RobotoMono-Light';
	font-weight: 300;
}

.cost{
	margin: 60px 0 60px 0;
}

.price{
	justify-content: center;
	text-align: center;
	flex-direction: column;
	padding: 0 10px;
}

.price p span{
	color: #7D94D8;
	font-family: 'Raleway';
}

.price-text{
	font-size: 1em;
	font-family: 'RobotoMono-Regular';
	font-weight: 400;
}

.join{
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 100%;
	height: 50px;
}

.join button{
	border: none;
	width: 90%;
	height: inherit;
	background-color: #27C181;
	margin: 0 20px;
	border-radius: 10px;

	font-size: 1.8em;
	font-family: 'RobotoMono-Bold';
	font-weight: 700;
	color: white;
}